/* header styles will go here. */
.header-container {
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 80px;
}
.header {
  padding: 10px;
}
.header-highlight {
  width: 100%;
  height: 10px;
  background: #9900FE;
}
.brand-logo{
  height:80px;
}
